[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
numpy = "*"
torch = "*"
gradio = "*"
pillow = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
