[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
numpy = "*"
torch = "*"
gradio = "*"
pillow = "*"
pandas = "*"
tqdm = "*"
datasets = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
